.left{
    width: 25%;
    float: left;
    background-color: antiquewhite;
}
.right{
    width: 75%;
    float: left;
    margin-bottom: 150px;
}
#dp{
    width: 95%;
    text-align: center;
    margin: 2.5%;
    border-radius: 0.4rem;
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
    transition: all ease-in-out .2s;
}

.leftop{
    list-style-type: none;
    margin-top: 20px;
    margin-left: -10px;
}


.ab{
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.2rem;
    font-style: italic;
    line-height: 1.5;
    
}
.ab:hover{
    color: crimson;
    transition: 0.3s;
    margin-left: 15px;
}
.myname{
    text-align: center;
    font-size: x-large;
}





.bg1{
    background-image: linear-gradient(to right,  rgb(255, 184, 92), rgba(66, 17, 17, 0.747));
    width: 100%;
    padding: 5px;
    height: 150px;
}
.bg2{
    background-image: linear-gradient(to right, rgb(247, 213, 169), rgb(247, 213, 169));
    width: 60%;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -90px;
    border-radius: 0.3rem;
}
.nikh{
    text-align: center;
    padding-top: 50px;
    color: #2f2626;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
    text-decoration:overline;
}

.welcome{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #574545;
}
body{
    background-color: bisque;
}
.horline{
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-left: 20px;
    margin-right: 20px;
    height: 3px;
}
.intro{
    background-image: radial-gradient( white, rgb(206, 233, 241), white);
    margin-top: 20px;
    padding: 25px;
    text-align: justify;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    font-family: 'Dancing Script', cursive;
    border-radius: 0.5rem;
}
.looking{
    margin-top: 20px;
    padding: 25px;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    font-family:  'Architects Daughter', cursive;
    color: #574545d2;
}
.education{
    background-color: #F3EFE0;
    padding-bottom: 20px;
}
.exp{
    background-color: #e0dbc7;
}
.hob{
    background-color: #F3EFE0;
}
.heading{
    margin-left: 25px;
    padding-top: 20px;
    color: #2f2626;
}
table{
    margin-top: 25px;
}
.tdl{
    width: 250px;
    padding-left: 10px; 
    text-align: left;
    vertical-align: top;
    
}

.tdr{
    width: 650px;
    padding-left: 10px;
    text-align: justify;
    vertical-align: top;
}
.tdbr{
    width: 650px;
    padding-left: 10px;
    text-align: justify;
    vertical-align: top;
    padding-bottom: 25px;
    color: rgb(100, 146, 206);
}
.pic{
    width: 80%;
    margin-left: 10%;
}