html{
    scroll-behavior: smooth;
}
.navdiv{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: 	#2f2626;
    color: aliceblue;
    text-decoration: none;
    border-radius: 0.5rem;
}
.logo{
    font-size: 4rem;
    font-family:cursive;
}
.logodes{
    font-size: 2rem;
    color: #ccc2ac;
}

body{
    background-color: #ccc2ac;
}
.navul{
    text-decoration: none;
    list-style: none;
    border: none;
    display: block;
    float: right;
    background: #4c3c3c;
    width: 100%;
    padding: 0;
    margin: 2px;
    border-radius: 0.5rem;
    line-height: 3rem;
    
}
.navli{
    text-decoration: none;
    border-left: 2px solid #ccc2ac;
    display: inline-block;
   
}
.nava{
    color: #ccc2ac;
    text-decoration: none;
    line-height: 3rem;
    font-size: 1.5rem;
    padding: 1rem;  
     
}
.na{
    display: inline;
    margin-left: 2.5rem;
    font-weight: bolder;
    font-family: cursive;
}
.set{
    display: inline-block;
    float: right;
    margin-right: 4rem;
}
.navli:hover{
    background-color: #7a6969;
    border: white;
    border-radius: 0.5rem;
}
section{
    width: 100%;
    height: 300vh;

}
.gotoupbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #2f2626;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: 	#c5aa6a;
    font-size: 2rem;
}
#indexpic{
    width: 75%;
    margin-top: 1rem;
    border-radius: 1rem;
}
.centercontent{
    text-align: center;
    margin-top: 3rem;
}
.imgresume{
    width: 90%;
    margin-top: 3rem;
    border: 2px solid #7a6969;
    border-radius: 1rem;
}



.downloadbtn{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 24px 2px;
    cursor: pointer;
    background-color: #4c3c3c;
    border-radius: 1rem;
}